@using _8BD.Helpers;
@inject HttpHelper _helper;
@inject RegexHelper _regex;
@inject PaginationHelper _pagination;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = @ViewBag.Subject;
    Layout = "~/Views/Shared/_Layout.cshtml";
}<div style='float:right; margin-bottom:auto; margin-right:5px;' class='dropdown'>

    @{
        var a = ViewBag.pageIndex + 1;
        var b = ViewBag.pageIndex - 1;
    }

    @if (@b < 0)
    {
        <button id='sol' class='btn btn-sm eksilt btn-outline-secondary'><i class='fa fa-angle-left'></i></button>
    }
    else
    {
        <a href="/subject?search=@ViewBag.Subject&pageIndex=@b"> <button id='sol' class='btn btn-sm eksilt btn-outline-secondary'><i class='fa fa-angle-left'></i></button></a>
    }

    <button id='sidebar_button ' style='margin-left:1px; margin-right:1px; margin-bottom:0px; min-width:60px; height:31px;' role='button' type='button' class='btn btn-sm btn-default dropdown-toggle sidebarsayfalar btn-outline-secondary' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>@a  </button>
    <div id='dropdown-side' class='dropdown-menu ' aria-labelledby='dropdownMenuButton' style='min-width:10px;'>

        @for (int i = 0; i < @_pagination.getPageNumber(ViewBag.SubjectId); i++)
        {
            var c = i + 1;
            <a id='' class='dropdown-item pagination_link ' href='/subject?search=@ViewBag.Subject&pageIndex=@i'>@c</a>
        }


    </div>
    @if (@a == @_pagination.getPageNumber(ViewBag.SubjectId))
    {
        <button id='sol' class='btn btn-sm eksilt btn-outline-secondary'><i class='fa fa-angle-right'></i></button>
    }
    else
    {
        <a href="/subject?search=@ViewBag.Subject&pageIndex=@a"><button id='sag' class='btn btn-sm artir btn-outline-secondary'><i class='fa fa-angle-right'></i></button></a>
    }

</div>
<br />

<a href="/subject?search=@ViewBag.Subject"><h4 class="subject-header"><b>@ViewBag.Subject  </b></h4></a>
@if (ViewBag.Count != 0 && ViewData["Entries"] != null)
{


    <hr>
    <div class="row" style="margin-left:4px; margin-top:-16px;">
        <a class="modbut" onclick="CopyLink();" title="Linki kopyala" href="#"><i class="fas fa-link"></i></a>
        @if (ViewBag.Level >6)
        {
            <a class="modbut" href="/subjectedit/@ViewBag.SubjectId"><i class="far fa-edit "></i></a>
            <a class="modbut" href="/subjectdelete/@ViewBag.SubjectId"><i class="far fa-trash-alt "></i></a>

        }
        
            <!-- <a class="modbut" href="/subjecthide/@ViewBag.SubjectId"><i class="far fa-eye-slash "></i></a>-->
        </div>



    @foreach (var item in (IEnumerable<Entry>)ViewData["Entries"])
    {


        var c = @_helper.GetUsername(item.authorId);
        <a style="float:right; font-size:12px;" class="monospace" href="/entry/@ViewBag.Subject/@item.id">#@item.id </a>
        <br />
        <p class="entry">@Html.Raw(_regex.PregReplace(@item.entry, _regex.patterns, _regex.replacements))</p>
   
        <div class="row d-flex flex-row-reverse" style="margin-right:5px;">
            <a href="/entry/@ViewBag.Subject/@item.id"><p class="entry-date monospace">@item.createDate.ToString("dd.MM.yyyy H:mm")</p></a> | <p class="monospace entry-author">
                @if (c != null)
                {@c}
            </p>
        </div>
        <div class="row" style="margin-left:4px; margin-bottom:-8px;">
            @if (ViewBag.Level > 4)
            {
                if (item.authorId == ViewBag.UserId || ViewBag.Level > 6)
                {
                    <a class="modbut" href="/entryedit/@item.id"><i class="far fa-edit "></i></a>
                    <a class="modbut" href="/entrydelete/@item.id"><i class="far fa-trash-alt "></i></a>
                }

                <div style="margin-left:10px;">
                    <a name='' style=' ' value='Like' class='like oybuton' href='#like' id='like_@item.id'>
                        <i class='fas fa-thumbs-up  fa-sm'>
                            (<span id=' '>@_helper.GetLikedVote(@item.id)</span>)
                        </i>
                    </a>
                    <a name='' style=' ' value='Unlike' class='unlike oybuton' href='#unlike' id='unlike_@item.id'>
                        <i class='fas fa-thumbs-down  fa-sm'>
                            (<span id=' '>@_helper.GetUnLikedVote(@item.id)</span>)
                        </i>
                    </a>
                </div>




            }



        </div>


                    <br />
                    <hr class="entry-hr">
                }
                if (ViewBag.Name != null)
                {
                    @await Html.PartialAsync("../Shared/DictComponents/EntryAdd")
                }
                else
                {
                    <br>
                    <div class="quote">
                        <h4 class="subject-header">Tanım girebilmek için lütfen üye olunuz veya hesabınıza giriş yapınız.</h4>
                    </div>
                }
            }
            else
            {
                if (ViewBag.Name != null)
                {

                    @await Html.PartialAsync("../Shared/DictComponents/EntryAdd")
                }
                else if (ViewData["Entries"] != null)
                {

                    <br>
                    <h4 class="monospace">Böyle bir başlık bulunmamaktadır.</h4>
                    <h4 class="monospace">Başlık açmak için yazar olmanız gerekiyor. Lütfen üye girişi yapınız.</h4>
                }
            }

            <script>
                function CopyLink() {
                    var dummy = document.createElement('input'),
                        text = window.location.href;

                    document.body.appendChild(dummy);
                    dummy.value = text;
                    dummy.select();
                    document.execCommand('copy');
                    document.body.removeChild(dummy);
                    alert("Link Kopyalandı!");

                }
                

                $(document).ready(function () {
                    // like and unlike click
                    $(".like, .unlike").click(function () {
                        var id = this.id;   // Getting Button id
                        var split_id = id.split("_");

                        var text = split_id[0];
                        var postid = split_id[1];  // postid
                        // Finding click type
                        var type = 0;
                        if (text == "like") {
                            type = 1;
                        } else {
                            type = 0;
                        }
                        if (type == 1) {
                            $.ajax({
                                type: "GET",
                                url: "/Vote/UnLikeCount/" + postid,
                                success: function (resultData) {
                                    if (resultData > 0) {
                                        resultData = resultData - 1;
                                    }
                                    document.getElementById("unlike_" + postid).innerHTML = "<i class='fas fa-thumbs-down  fa-sm'>(<span id=' '>" + resultData + "</span>) </i >";
                                }
                            });
                            $.ajax({
                                type: "POST",
                                url: "/Vote/LikeThis",
                                data: { id: postid },
                                dataType: "text",
                                success: function (resultData) {
                                    document.getElementById(id).innerHTML = "<i class='fas fa-thumbs-up  fa-sm'>(<span id=' '>" + resultData + "</span>) </i >";
                                }
                            });
                        } else {
                            $.ajax({
                                type: "GET",
                                url: "/Vote/LikeCount/" + postid,
                                success: function (resultData) {
                                    if (resultData > 0) {
                                        resultData = resultData - 1;
                                    }
                                    document.getElementById("like_" + postid).innerHTML = "<i class='fas fa-thumbs-up  fa-sm'>(<span id=' '>" + resultData + "</span>) </i >";
                                }
                            });
                            $.ajax({
                                type: "POST",
                                url: "/Vote/UnLikeThis",
                                data: { id: postid },
                                dataType: "text",
                                success: function (resultData) {
                                    document.getElementById(id).innerHTML = "<i class='fas fa-thumbs-down  fa-sm'>(<span id=' '>" + resultData + "</span>) </i >";
                                }
                            });
                            
                         
                        }
                        




                    });

                    





                    });

               

               
            </script>
