@using _8BD.Helpers;
@inject HttpHelper _helper;
@inject RegexHelper _regex;
@using _8BD.Models;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = @ViewBag.Subject;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var entry = ViewData["Entry"] as Entry;
}

<h4 class="subject-header"><b>@ViewBag.Subject  </b></h4>   
@if (ViewData["Entry"] != null)
{

    <hr>
    <div class="row" style="margin-left:4px; margin-top:-18px;">
        <a class="modbut" onclick="CopyLink();" title="Linki kopyala" href="#"><i class="fas fa-link"></i></a>
        <a class="modbut" href="/subjectedit/@ViewBag.SubjectId"><i class="far fa-edit "></i></a>
        <a class="modbut" href="/subjectdelete/@ViewBag.SubjectId"><i class="far fa-trash-alt "></i></a>
        <a class="modbut" href="/subjecthide/@ViewBag.SubjectId"><i class="far fa-eye-slash "></i></a>
    </div>
    <br />
    <a href="#"><li class="list-group-item" style="text-align:center">daha önceki tanımlar</li></a>
    <br />
    <hr />
    var c = @_helper.GetUsername(entry.authorId);
    <a style="float:right; font-size:12px;" class="monospace" href="/entry/@ViewBag.Subject/@entry.id">#@entry.id </a>
    <br />
    <p class="entry">@Html.Raw(_regex.PregReplace(entry.entry, _regex.patterns, _regex.replacements))</p>
    <div class="row d-flex flex-row-reverse" style="margin-right:5px;">
        <a href="/entry/@ViewBag.Subject/@entry.id"><p class="entry-date monospace">@entry.createDate.ToString("MM.dd.yyyy H:mm")</p></a> | <p class="monospace entry-author">
            @if (c != null)
            {@c}
        </p>
    </div>
   <div class="row" style="margin-left:4px; margin-bottom:-8px;">
            <a class="modbut" href="/entryedit/@entry.id"><i class="far fa-edit "></i></a>
            <a class="modbut" href="/entrydelete/@entry.id"><i class="far fa-trash-alt "></i></a>
            <a class="modbut" href="/entrytransfer/@entry.id"><i class="fas fa-exchange-alt "></i></a>
        </div>
    <br />

    <hr class="entry-hr">
    <a href="#"><li class="list-group-item" style="text-align:center">daha sonraki tanımlar</li></a>

    if (ViewBag.Name != null)
    {
        @await Html.PartialAsync("../Shared/DictComponents/EntryAdd")
    }
    else
    {
        <br>
        <div class="quote">
            <h4 class="subject-header">Tanım girebilmek için lütfen üye olunuz veya hesabınıza giriş yapınız.</h4>
        </div>
    }
}
else
{
    if (ViewBag.Name != null)
    {

        @await Html.PartialAsync("../Shared/DictComponents/EntryAdd")
    }
    else if (ViewData["Entry"] != null)
    {

        <br>
        <h4 class="monospace">Böyle bir tanom bulunmamaktadır.</h4>
        <h4 class="monospace">Tanım yazmak için yazar olmanız gerekiyor. Lütfen üye girişi yapınız.</h4>
    }







}
<script>
    function CopyLink() {
        var dummy = document.createElement('input'),
            text = window.location.href;

        document.body.appendChild(dummy);
        dummy.value = text;
        dummy.select();
        document.execCommand('copy');
        document.body.removeChild(dummy);
        alert("Link Kopyalandı!");

    }
</script>