@using _8BD.Helpers;
@inject HttpHelper _helper;
@{
    ViewData["Title"] = "EntryEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id = ViewBag.id;
    var entry = _helper.GetEntryById(id);

}
<h2 class="monospace"> Tanım Düzenle</h2>
<form asp-controller="entry" asp-action="edit" method="post">

    <div class="md-form">
        <label for="form1" class="monospace">Başlık:</label>
        <input type="text" id="form1" class="form-control monospace" placeholder="@_helper.GetSubjectNameById(@entry.subjectId)" disabled>

    </div>

    <label for="form_message" class="monospace">Tanım:</label>
    <input type="text" name="id" value="@entry.id" hidden/>
    <textarea type="text" name="newentry" id="girdi-area" value="@entry.entry" class="md-textarea form-control" rows="3">@entry.entry</textarea>
    <button type="submit" class="btn btn-dark monospace" style="margin-top: 10px;  float: right;">Gönder</button>
</form>