
@{
    ViewData["Title"] = "PasswordRecovery";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (@ViewBag.Message != null)
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.Message
        </div>
    }
    if (@ViewBag.Danger != null)
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.Danger
        </div>
    }
}
<form class="form-horizontal" asp-controller="Login" asp-action="SendNewPassword" method="POST">
    <fieldset>
        <div id="legend">
            <legend class="Helvetica" style="text-decoration: underline">şifre yenileme</legend>
        </div>
        <div class="control-group">
            <!-- Username -->
            <label class="control-label Helvetica" for="username">şifreniz</label>
            <div class="controls">
                <input type="password" id="username" name="password" placeholder="" class="input-xlarge Helvetica">
                <input name="token" value="@ViewBag.Token" hidden />
                <input name="userid" value="@ViewBag.UserId" hidden />
            </div>
        </div>


        <div class="control-group">
            <!-- Password-->
            <label class="control-label Helvetica" for="password">şifre tekrarı</label>
            <div class="controls">
                <input type="password" id="password" name="retrypassword" placeholder="" class="input-xlarge">

            </div>
        </div>

        <div class="control-group">
            <!-- Button -->
            <div class="controls">
                <button class="btn btn-outline-secondary Helvetica">  şifre yenile</button>
            </div>
        </div>

    </fieldset>
</form>