@using _8BD.Helpers;
@inject HttpHelper _helper;
@{ 
    var entrycount =_helper.GetApiEndpoint<int>("/entries/entrycount/" + Model.id);
    var subjectcount = _helper.GetApiEndpoint<int>("/subjects/subjectnumber/" + Model.id);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - filmcisözlük</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/dict.css" />
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/fd74ad707e.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <header>
        @await Html.PartialAsync("Components/Navbar")
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="row">
                <div class="col-md-3" id="sonkisim">
                    <img id="resim" src="~/assets/profile.jpg" alt="des" width="240" height="240" style=" min-width: 200px; min-height: 240px; margin-left:10%; margin-top:10%;">

                    <br>
                    <form action="" method="post" enctype="multipart/form-data">
                        <input style="max-width:100px; max-height:30px;" type="file" value="Dosya" name="fileToUpload" id="fileToUpload">
                        <input style="max-width:100px; max-height:30px;" type="submit" value="Yükle" name="submit">
                    </form>
                    <p style="text-align:center; font-size:17px;">@Model.username</p>
                    <p style="text-align:center; margin-top:-20px;">admin</p>
                    <a href=""> <button style="width:100%;" type="button" class="btn btn-dark">Piştle!</button></a>
                    <form class="" action="index.html" method="post">
                        <a href=""> <button style="width:100%; margin-top:5px;" type="button" class="btn btn-primary">Ayar Çek</button></a>

                    </form>
                    <ul style="margin-top:10px; width:100%;" class="list-group">
                        <li class="list-group-item profilistatistik profilistatistikheader">Yazar Tanımları</li>
                        <a id="tumtanimlari" href="/profile/allentries?authorId=@Model.id"><li class="list-group-item profilistatistik">Tüm Tanımları</li></a>
                        <a id="enbegenilenler" href="/profile/mostlikedentries?authorId=@Model.id"><li class="list-group-item profilistatistik">En Beğenilenler</li></a>
                        <a id="enbegenilmeyenler" href="/profile/mostunlikedentries?authorId=@Model.id"><li class="list-group-item profilistatistik">En Beğenilmeyenler</li></a>
                        <a id="encokfavorilenenler" href="/profile/mostfavoritedentries?authorId=@Model.id"><li class="list-group-item profilistatistik">En Çok Favorilenenler</li></a>

                    </ul>



                    <ul style="margin-top:10px; width:100%;" class="list-group">
                        <li class="list-group-item profilistatistik profilistatistikheader">Yazar İstatistikleri</li>
                        <li class="list-group-item profilistatistik">Kayıt Tarihi: @Model.registerDate</li>
                        <li class="list-group-item profilistatistik">Tanım Sayısı: @entrycount </li>
                        <li class="list-group-item profilistatistik">Başlık Sayısı: @subjectcount</li>
                        <li class="list-group-item profilistatistik">Karma: 10000</li>

                        <li class="list-group-item profilistatistik">Porta ac consectetur ac</li>
                        <li class="list-group-item profilistatistik">Vestibulum at eros</li>
                    </ul>

                </div>
                <div class="col-md-9" id="ilkkisim">
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>

    @await Html.PartialAsync("Components/Footer")
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Components/Scripts", required: false)
</body>
</html>
