@model User
@using _8BD.Helpers;
@inject HttpHelper _helper;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Profile.cshtml";
    var mostlikedentries = ViewBag.mostlikedentries;
    var mostunlikedentries = ViewBag.mostunlikedentries;
    var mostfavoritedentries = ViewBag.mostfavoritedentries;

}
<div class="profilquote">
    <h6 style="margin-top:20px;" class="Helvetica"><b>inveon içi ofis kuralları</b></h6>
    <p class="tanim Helvetica"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recentl</p>
</div>

<div class="row">


    <div class="col-md-6 ">
        <div class="card">
            <div class="card-header Helvetica">En Beğenilen Tanımları</div>
            <ul class="list-group list-group-flush">

                @foreach (var item in @mostlikedentries)
                {



                    <li class="list-group-item" style="display: block">
                        <div>
                            (<a class="bkz" href="">#@item.id</a>) -> <a href="">
                                @_helper.GetSubjectNameById(item.subjectId)
                            </a>
                        </div> <div class="entrybar">
                            <i class="fa fa-thumbs-up fa-sm"> (@item.entryLike) </i> <i class="fa fa-thumbs-down fa-sm">
                                (@item.entryUnlike)
                            </i> <i class="fa fa-star fa-sm">  (@item.entryFavorite) </i> <footer> <span class="entrydate"> @item.createDate </span> </footer>
                        </div>
                    </li>

                }




            </ul>
        </div>


    </div><div class="col-md-6 ">
        <div class="card">
            <div class="card-header">En Beğenilmeyen Tanımları</div>
            <ul class="list-group list-group-flush">

                @foreach (var item in @mostunlikedentries)
                {



                    <li class="list-group-item" style="display: block">
                        <div>
                            (<a class="bkz" href="">#@item.id</a>) -> <a href="">
                                @_helper.GetSubjectNameById(item.subjectId)
                            </a>
                        </div> <div class="entrybar">
                            <i class="fa fa-thumbs-up fa-sm"> (@item.entryLike) </i> <i class="fa fa-thumbs-down fa-sm">
                                (@item.entryUnlike)
                            </i> <i class="fa fa-star fa-sm">  (@item.entryFavorite) </i> <footer> <span class="entrydate"> @item.createDate </span> </footer>
                        </div>
                    </li>

                }

            </ul>
        </div>


    </div>



</div>
<br />
<br />
<div class="row">


    <div class="col-md-6 ">
        <div class="card">
            <div class="card-header">En Çok Favorilenen Tanımları</div>
            <ul class="list-group list-group-flush">

                @foreach (var item in @mostfavoritedentries)
                {



                    <li class="list-group-item" style="display: block">
                        <div>
                            (<a class="bkz" href="">#@item.id</a>) -> <a href="">
                                @_helper.GetSubjectNameById(item.subjectId)
                            </a>
                        </div> <div class="entrybar">
                            <i class="fa fa-thumbs-up fa-sm"> (@item.entryLike) </i> <i class="fa fa-thumbs-down fa-sm">
                                (@item.entryUnlike)
                            </i> <i class="fa fa-star fa-sm">  (@item.entryFavorite) </i> <footer> <span class="entrydate"> @item.createDate </span> </footer>
                        </div>
                    </li>

                }


            </ul>
        </div>


    </div>


</div>
